<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/secured/*" access="ROLE_USER" />
		<remember-me />
		<!-- <form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?error=true" /> -->
		
		 <form-login login-processing-url="/login" login-page="/loginPage"
            username-parameter="username" password-parameter="password"
			default-target-url="/secured" authentication-failure-url="/login?auth=fail" />
		<logout logout-url="/logout" logout-success-url="/loginPage" />
	</http>

	<beans:bean id="loginService" class="com.javaplus.app.transport.service.UserLoginService" />

	<authentication-manager>
		<authentication-provider user-service-ref="loginService">
		</authentication-provider>
	</authentication-manager>

</beans:beans>